{{#each selectedProducts}}
  <div class="selected-product" data-id={{_id}}>
    <div class="selected-product-name spformat">
      {{quantity}} {{size}} {{_product.name}} at ${{_product.price}}
    </div>
  </div>
{{/each}}
<h4>Total Price: ${{totalPrice}}</h4>
<div id='back-orders-button'> < Back to Orders</div>
