{{#each products}}
  <span class="product" data-id={{_id}}>
    <img class="photo-small" src={{photoSmall}} alt="smallphoto" data-toggle="modal" data-target=".photo-modal"/>

    <form class="select-product-form">
      <select name="selectedProduct[size]" class="custom-select size float-left">
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
          <option value="XL">XL</option>
      </select>
      <select name="selectedProduct[quantity]" class="custom-select quantity float-left">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="25">25</option>
      </select>
      <input class="float-left add-button" type="submit" name="submit" value="Add">

    </form>
    <p class="product-name">{{name}}</p>
    <p class="product-price">${{price}}</p>
  </span>
{{/each}}
<!--Hidden on loadProducts-->
<div class="modal fade photo-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="photo-large" src={{photoLarge}} alt="largephoto"/>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
