  {{#each selectedProducts}}
    <div class="selected-product" data-id={{_id}}>
      <span class="glyphicon glyphicon-remove remove"></span>
      <div class="selected-product-name spformat">
        {{_product.name}}
      </div>
        <form class="update-selproduct-form">
          <div class="selected-product-quantity float-left spformat">
            <span class="qty-style">
              Qty: {{quantity}}
            </span>
            <select name="selectedProduct[quantity]" class="custom-select change-style float-left spformat">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
            </select>
          </div>
          <div class="selected-product-size float-left spformat">
            <span class="qty-style">
              Size: {{size}}
            </span>
            <select name="selectedProduct[size]" class="custom-select change-style float-left spformat">
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
            </select>
          </div>
          <input class="update-button" type="submit" name="submit" value="Update">
        </form>
      <div class="selected-product-price" value={{_product.price}}>${{_product.price}}</div>
    </div>
  {{/each}}
  <h4 class="total-price">Total Price: ${{totalPrice}}</h4>
